<form role="form">
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" class="form-control"
             placeholder="Nombre Pelicula"
             [(ngModel)]="peliculaParaAlta.nombre"
             name="nombre">
    </div>
    <div class="form-group">
        <label for="">Tipo</label>
        <select class="form-control" [(ngModel)]="peliculaParaAlta.tipo" name="tipo">
          <option>Terror</option>
          <option>Comedio</option>
          <option>Amor</option>
          <option>Otros</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" 
                 [(ngModel)]="peliculaParaAlta.fecha_de_estreno" 
                 ngbDatepicker #d="ngbDatepicker"
                 name="fecha">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Cantidad de publico</label>
        <input type="text" class="form-control"
               placeholder="Cantidad Publico"
               [(ngModel)]="peliculaParaAlta.cantidad_de_publico"
               name="cantidad">
      </div>
      <div class="form-group">
        <label for="">Nombre Actor</label>
        <input type="text" class="form-control"
               placeholder="Actor"
               [(ngModel)]="actorSeleccionado.nombre"
               name="actornombre" disabled>
      </div>
      <div class="form-group">
        <label for="">Apellido</label>
        <input type="text" class="form-control"
               placeholder="Actor"
               [(ngModel)]="actorSeleccionado.apellido"
               name="actorapellido" disabled>
      </div>
    <div class="form-group">
      <label for="">Adjuntar una foto</label>
      <input type="file">
      <p class="help-block"></p>
    </div>
    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Enviar</button>
  </form>