<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Sexo
            </th>
            <th>
                Fecha de nacimiento
            </th>
            <th>
                Foto
            </th>
        </tr>
    </thead>
    <tbody *ngIf="listaActores">
        <tr *ngFor="let actor of listaActores" (click)="actorSeleccionado(actor)">
            <td >{{actor.id}}</td>
            <td>{{actor.nombre}}</td>
            <td>{{actor.apellido}}</td>
            <td>{{actor.sexo == 'M' ? 'Masculino' : 'Femenino'}}</td>
            <td>{{actor.fecha_de_nacimiento}}</td>
            <td> <img [src]="actor.foto"></td>
        </tr>
    </tbody>
</table>