<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Capital
            </th>
            <th>
                Bandera
            </th>
        </tr>
    </thead>
    <tbody *ngIf="listadoPaises">
        <tr *ngFor="let pais of listadoPaises" (click)="paisSeleccionado(pais)" [hidden]="pais.deshabilitado">
            <td >{{pais.nombre}}</td>
            <td>{{pais.capital}}</td>
            <td>{{pais.foto}}</td>
            <td> <img [src]="pais.bandera"  type="image/svg+xml" type="image/svg+xml"></td>
      
        </tr>
    </tbody>
</table>